In [3]:
2+2

4

In [4]:
10000*10000

100000000

To jest moja notatka na temat dzisiejszych zajęć.

<h2>Tytuł rozdziału</h2>

In [5]:
print("Dzień dobry!")

Dzień dobry!

In [6]:
x=5
print(x)

5

In [7]:
print('Zmienna x równa się:',x)

Zmienna x równa się: 5

In [10]:
print(f'Zmienna x równa się {x}') #f-string

Zmienna x równa się 5

In [11]:
x=5
type(x)  #int - integer - liczba całkowita (bez ułamków)

int

In [13]:
y=5.57 #kropki bo przecinki oznaczają wymienianie liczb
type(y)  #float - liczba rzeczywista (z ułamkami)

float

In [14]:
z='Nela'
type(z) #str - string - dane tekstowe/łańcuch znaków

str

In [15]:
x=5
print("Typ zmiennej x to",type(x))

Typ zmiennej x to <class 'int'>

<h3>Lista</h3>

In [17]:
my_list=["jabłko","gruszka","śliwka"]
type(my_list)

list

In [18]:
my_list

['jabłko', 'gruszka', 'śliwka']

In [19]:
#ile elementów mam na liście?
len(my_list)

3

In [25]:
#dodajemy kolejny elemet listy (na jej koniec)
my_list.append("banan")

In [26]:
my_list

['jabłko', 'gruszka', 'śliwka', 'winogrona', 'truskawki', 'banan']

In [28]:
fruit_basked=my_list #nadałam mu nazwę

In [29]:
fruit_basked

['jabłko', 'gruszka', 'śliwka', 'winogrona', 'truskawki', 'banan']

In [38]:
fruit_basked.insert(9,"malina") #wskazujemy gdzie chcemy dodac elemet

In [39]:
fruit_basked

['jabłko',
 'gruszka',
 'śliwka',
 'winogrona',
 'truskawki',
 'banan',
 'malina',
 'malina']

In [41]:
#usuwamy element z listy - remove
fruit_basked.remove("malina")
fruit_basked

['jabłko', 'gruszka', 'śliwka', 'winogrona', 'truskawki', 'banan']

In [43]:
#który to element na liście?
fruit_basked.index("jabłko")

0

In [44]:
#sortowanie listy 
fruit_basked.sort()
print(fruit_basked)

['banan', 'gruszka', 'jabłko', 'truskawki', 'winogrona', 'śliwka']

In [45]:
#odwracanie kolejności na liscie
fruit_basked.reverse()
print(fruit_basked)

['śliwka', 'winogrona', 'truskawki', 'jabłko', 'gruszka', 'banan']

In [46]:
numbers=[1,2,3,22,25,30]
numbers

[1, 2, 3, 22, 25, 30]

In [47]:
sum(numbers)

83

<h3>Tuple</h3>

In [48]:
#tworzymy tuple/krotke
my_tuple=(1,2,"Dzień dobry",2023)
type(my_tuple)

tuple

In [51]:
names=("Kornelia","Backiel","luty",22)
type(names)

tuple

In [52]:
names

('Kornelia', 'Backiel', 'luty', 22)

In [53]:
#ile elementów jest w tupli?
len(names)

4

In [54]:
#który to element?
names.index("luty")

2

<h3>Słownik</h3>

In [57]:
#tworzenie słownika
my_dict={"name":"Kornelia","surname":"Backiel","city":"Warszawa"}
my_dict

{'name': 'Kornelia', 'surname': 'Backiel', 'city': 'Warszawa'}

In [58]:
#wartośc dla klucza city (wyciągamy ekement)
my_dict["city"]

'Warszawa'

In [61]:
#dodawanie elementów
my_dict["country"]="Poland"
my_dict

{'name': 'Kornelia',
 'surname': 'Backiel',
 'city': 'Warszawa',
 'country': 'Poland'}

In [62]:
#ilość elementów
len(my_dict)

4

In [63]:
#usuwanie elementów
del my_dict["country"]

In [64]:
my_dict

{'name': 'Kornelia', 'surname': 'Backiel', 'city': 'Warszawa'}

In [65]:
#klucze 
my_dict.keys()

dict_keys(['name', 'surname', 'city'])

In [66]:
#wartości kluczy
my_dict.values()

dict_values(['Kornelia', 'Backiel', 'Warszawa'])

In [67]:
my_dict.items()

dict_items([('name', 'Kornelia'), ('surname', 'Backiel'), ('city', 'Warszawa')])

<h3>Set</h3>

In [68]:
#zbiór danych
my_set={1,2,3,4,5}
type(my_set)

set

In [69]:
{1,2,3,4,5,5}

{1, 2, 3, 4, 5}

In [70]:
#dodawanie elementu
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

In [71]:
my_set.update({7,8,9})
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
#usuwanie elementu
my_set.remove(4)
my_set

{1, 2, 3, 5, 6, 7, 8, 9}

<h3>Podsumowanie typów danych</h3>

In [73]:
a=5
type(a)

int

In [74]:
#całkowite -> rzeczywiste
a=float(a)
print(a)
print(type(a))

5.0
<class 'float'>

In [75]:
#rzeczywiste -> całkowite
a=int(a)
type(a)

int

In [76]:
x="5"
type(x)

str

In [77]:
x=int(x)
print(x)
print(type(x))

5
<class 'int'>

In [78]:
nums=[1,2,3,4,5,6,16,20]
type(nums)

list

In [79]:
nums=tuple(nums)
type(nums)
print(nums)

(1, 2, 3, 4, 5, 6, 16, 20)

<h3>Warunki</h3>

In [80]:
x=22

In [81]:
#czy x równa się 22?
x==22

True

In [82]:
x==21

False

In [83]:
#czy x nie równa się 16?
x!=22

False

In [85]:
#czy x jest większe od 15?
x>22

False

In [86]:
x>=15

True

In [87]:
x<13

False

In [88]:
#czy x jest większe od 16 lub równe
(x>16) or (x==16)

True

In [89]:
#czy x jest większy i równy jednoczesnie od 16
(x>16) and (x==16)

False

In [90]:
(x=='16') or (x=='15')

False

In [93]:
x=64

if x>10:
    print('Zmienna jest większa niż 10')
else:
    print('Zmienna wynosi co najwyżej 10')

Zmienna jest większa niż 10

In [96]:
X=64

#Jeżeli jest większa niż 10 to dodaj do tej zmiennej 1
#Jeżeli nie to odejmij 1

if x>10:
    x=x+1
else:
    x=x-1

print(x)

66

In [98]:
points=32

#0-10 1
#11-20 2
#21-30 3
#31-40 4
#41-50 5

In [97]:
points=32

if points<=10:
    print("Ocena ze sprawdzianu to 1")
elif points<=20:
    print("Ocena ze sprawdzianu to 2")

else:
    print("Ocena ze sprawdzianu to 5")

Ocena ze sprawdzianu to 5

In [100]:
a=10
b=20

#a>b to wyświetla a
#a<=b to wyświetla b


if a>b:
    print(a)
else:
    print (b)

20